html,body{
   width:   100%;
   margin: 0 ;
   background-image: linear-gradient(to right, #8360c3, #2ebf91);
   font-family: Arial, Helvetica, sans-serif;
   

}
body{
    position: relative;
    
}
.container{
    width: 100%;
    padding: 25px;
    box-shadow:  2px 5px 7px black;
    text-align: center;
}
h1{
    font-size: 4rem;
}
h1,h3{
    text-align: center;
    color: wheat;
    stroke-linecap: round !important;
    text-shadow: 2px 8px 9px red;
}
h3{
    font-size: 2rem;
}
#inputField{
    width: 50%;
    height: 46px;
     /* border: 1px solid black;
     outline: none; */
   
     font-size: 25px;
     vertical-align: middle;
     box-shadow: 2px 5px 9px black;
}
#addToDo{
    height: 50px;
    width: 50px;
    /* border: 1px solid black; */
    vertical-align: middle;
    font-size: 30px;
    box-shadow: 2px 5px 9px  black;
    margin: 5px;
}
.to-dos{
    margin-top: 25px;
    max-width: 50%;
    display: flex;
    padding: 8px;
    /* flex-wrap: wrap; */
    
}
.paragraph-styling{
    cursor: pointer;
    margin: 0;
    font-size: 20px;
    padding: 1rem;
    background-color: rgb(234, 130, 4);
   /* overflow-y:scroll; */
    
   border-radius: 60px;
    background: linear-gradient(145deg, #aeb8e6, #cfdaff);
    box-shadow:  35px 35px 70px #787e9e,
                 -35px -35px 70px #ffffff;
   

    
}
